/* About Page Styles */

.about-page {
  width: 100%;
}

/* Page Title */
.page-title {
  padding: 174px 0px 156px 0px;
  position: relative;
}

.page-title .bg-layer {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.page-title .bg-layer:before {
  position: absolute;
  content: '';
  background: var(--main-color);
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  opacity: 0.8;
}

.page-title .content-box {
  position: relative;
  z-index: 2;
}

.page-title .content-box h1 {
  position: relative;
  display: block;
  font-size: 54px;
  line-height: 64px;
  font-weight: 700;
  color: var(--white-color);
}

.page-title .content-box .bread-crumb {
  position: relative;
  display: inline-block;
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  padding: 18px 50px;
  margin-top: 37px;
}

.page-title .content-box .bread-crumb li {
  position: relative;
  display: inline-block;
  font-size: 18px;
  color: var(--white-color);
  font-weight: 500;
  margin-right: 40px;
}

.page-title .content-box .bread-crumb li:last-child {
  margin: 0px;
}

.page-title .content-box .bread-crumb li a {
  display: inline-block;
  color: var(--white-color);
}

.page-title .content-box .bread-crumb li a:hover {
  color: var(--secondary-color);
}

.page-title .content-box .bread-crumb li:before {
  position: absolute;
  content: '\e908';
  font-family: 'icomoon';
  font-size: 14px;
  top: 1px;
  right: -28px;
}

.page-title .content-box .bread-crumb li:last-child:before {
  display: none;
}

.page-title .pattern-layer {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 826px;
  height: 186px;
  background-repeat: no-repeat;
  z-index: 1;
}

/* About Style Three */
.about-style-three {
  padding: 229px 0px 338px 0px;
  position: relative;
}

.about-style-three.about-page {
  padding-bottom: 260px;
}

.content_block_six .content-box {
  position: relative;
  display: block;
}

.content_block_six .content-box p {
  font-size: 18px;
}

.content_block_six .content-box .inner-box .single-item {
  position: relative;
  display: block;
  padding: 0px 0px 0px 86px;
  margin-bottom: 20px;
  min-height: 55px;
}

.content_block_six .content-box .inner-box .single-item:last-child {
  margin-bottom: 0px;
}

.content_block_six .content-box .inner-box .single-item .icon-box {
  position: absolute;
  left: 0px;
  top: 0px;
}

.content_block_six .content-box .inner-box .single-item h5 {
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  font-family: var(--heebo);
}

.about-style-three .image-inner {
  position: relative;
  display: block;
  min-width: 830px;
}

.about-style-three .image-inner .image {
  position: relative;
  display: block;
  border-radius: 10px;
  margin-bottom: 20px;
  overflow: hidden;
}

.about-style-three .image-inner .image img {
  width: 100%;
  border-radius: 10px;
  transition: all 500ms ease;
}

.about-style-three .image-inner .image-box {
  float: left;
  margin-right: 20px;
}

.about-style-three .image-inner .image-box:last-child {
  margin: 0px;
}

.about-style-three .image-inner .image:hover img {
  transform: scale(1.05);
}

.about-style-three .image-layer {
  position: absolute;
  left: 136px;
  bottom: 150px;
}

.about-style-three .pattern-layer {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  max-width: 1920px;
  width: 100%;
  height: 100%;
}

.about-style-three .pattern-layer .pattern-1 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 931px;
  height: 881px;
  background-repeat: no-repeat;
}

.about-style-three.about-page .pattern-layer .pattern-3 {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 513px;
  height: 620px;
  background-repeat: no-repeat;
}

.about-style-three.about-page .pattern-layer .pattern-4 {
  position: absolute;
  right: 0px;
  bottom: -112px;
  width: 542px;
  height: 392px;
  background-repeat: no-repeat;
}

.about-style-three .image-inner .image-shape {
  position: absolute;
  left: -64px;
  bottom: -89px;
  width: 186px;
  height: 186px;
  background-repeat: no-repeat;
  z-index: 1;
  -webkit-animation: zoom-fade 4s infinite linear;
  animation: zoom-fade 4s infinite linear;
}

@keyframes zoom-fade {
  0%, 100% { transform: scale(1); opacity: 1; }
  50% { transform: scale(1.1); opacity: 0.8; }
}

@-webkit-keyframes zoom-fade {
  0%, 100% { transform: scale(1); opacity: 1; }
  50% { transform: scale(1.1); opacity: 0.8; }
}

/* Feature Section */
.feature-section.about-page {
  padding: 80px 0px 150px 0px;
}

.feature-section.about-page .inner-container {
  margin: 0px;
}

/* Responsive */
@media (max-width: 1200px) {
  .about-style-three .image-layer {
    display: none;
  }
  
  .about-style-three .image-inner {
    min-width: 100%;
  }
}

@media (max-width: 991px) {
  .page-title {
    padding: 120px 0px 100px 0px;
  }
  
  .page-title .content-box h1 {
    font-size: 42px;
    line-height: 52px;
  }

  .page-title .pattern-layer {
    display: none !important;
  }
}

@media (max-width: 768px) {
  .page-title {
    padding: 80px 0px 70px 0px;
  }
  
  .page-title .content-box h1 {
    font-size: 32px;
    line-height: 42px;
  }
  
  .page-title .pattern-layer {
    display: none !important;
  }
  .about-style-three {
    padding: 60px 0px 100px 0px;
  }
}

@media (max-width: 480px) {
  .page-title {
    padding: 60px 0px 50px 0px;
  }
  
  .page-title .content-box h1 {
    font-size: 28px;
    line-height: 38px;
  }
}

