@font-face {
  font-family: 'icomoon';
  src:  url('/assets/fonts/icomoon.eot?tin97q');
  src:  url('/assets/fonts/icomoon.eot?tin97q#iefix') format('embedded-opentype'),
    url('/assets/fonts/icomoon.ttf?tin97q') format('truetype'),
    url('/assets/fonts/icomoon.woff?tin97q') format('woff'),
    url('/assets/fonts/icomoon.svg?tin97q#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-38:before { content: "\e933"; }
.icon-39:before { content: "\e934"; }
.icon-40:before { content: "\e935"; }
.icon-41:before { content: "\e936"; }

/* Coaching Style Three Section - Prefixed to prevent conflicts */

/* Coaching Style Three Section - Prefixed to prevent conflicts */

.cs3-section {
  position: relative;
  background: #CE1E22; /* Updated to brand red */
  padding: 0;
  overflow: hidden;
}

.cs3-carousel-wrapper {
  position: relative;
  width: 100%;
}

.cs3-swiper {
  width: 100%;
  height: auto;
}

.cs3-block {
  position: relative;
  margin: 0;
  padding: 0;
  height: 700px; /* Reduced from 800px or similar to fit better */
}

/* Pagination Styling */
.cs3-swiper .swiper-pagination {
  bottom: 20px !important;
  z-index: 20;
}

.cs3-swiper .swiper-pagination-bullet {
  background: #fff;
  opacity: 0.5;
}

.cs3-swiper .swiper-pagination-bullet-active {
  background: #fff;
  opacity: 1;
  width: 20px;
  border-radius: 5px;
}

/* Inner Box */
.cs3-block .cs3-inner {
  position: relative;
  display: block;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.cs3-block .cs3-inner .cs3-img-box {
  margin: 0;
  padding: 0;
  height: 100%;
}

.cs3-block .cs3-inner .cs3-img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border: none;
}

/* Light black overlay for static images (before hover) */
.cs3-static .cs3-img-box::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); 
  z-index: 1;
}

/* Content Box */
.cs3-block .cs3-inner .cs3-content {
  position: absolute;
  left: 0;
  bottom: 70px;
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
  z-index: 2;
  transition: all 0.5s ease;
}

.cs3-block .cs3-inner .cs3-content .cs3-icon-wrap {
  position: relative;
  display: block;
  color: #ffffff;
  margin-bottom: 25px;
  font-size: 80px;
  line-height: 1;
}

.cs3-block .cs3-inner .cs3-content h3 {
  display: block;
  font-size: 24px;
  line-height: 34px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #ffffff;
}

.cs3-block .cs3-inner .cs3-content h3 a {
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
}

.cs3-block .cs3-inner .cs3-content p {
  color: #ffffff;
  font-size: 16px;
  line-height: 26px;
  margin: 0;
}

/* Static Content */
.cs3-block .cs3-inner .cs3-static {
  position: relative;
  width: 100%;
  height: 100%;
  transition: opacity 0.5s ease;
}

.cs3-block .cs3-inner:hover .cs3-static {
  opacity: 0;
}

/* Overlay Content */
.cs3-block .cs3-inner .cs3-overlay {
  position: absolute;
  left: 0;
  top: 30px;
  width: 100%;
  height: 100%;
  z-index: 10;
  opacity: 0;
  transition: all 0.5s ease;
  pointer-events: none;
}

.cs3-block .cs3-inner:hover .cs3-overlay {
  opacity: 1;
  top: 0;
  pointer-events: all;
}

.cs3-block .cs3-inner .cs3-overlay .cs3-layer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(206, 30, 34, 0.95) 0%, rgba(206, 30, 34, 0.5) 50%, rgba(206, 30, 34, 0) 100%);
  z-index: 1;
}

.cs3-block .cs3-inner .cs3-overlay .cs3-img-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.cs3-block .cs3-inner .cs3-overlay .cs3-content {
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  padding: 0 50px 70px 50px;
  z-index: 5;
}

/* Responsive Styles */

@media (max-width: 1024px) {
  .cs3-block {
    height: 600px;
  }
}

@media (max-width: 768px) {
  .cs3-block {
    height: 550px;
  }

  /* Force Overlay View on Mobile since Hover doesn't exist */
  .cs3-block .cs3-inner .cs3-static {
    opacity: 0;
    pointer-events: none;
  }
  .cs3-block .cs3-inner .cs3-overlay {
    opacity: 1;
    top: 0;
    pointer-events: all;
  }
  
  .cs3-block .cs3-inner .cs3-content {
    padding-left: 30px;
    padding-right: 30px;
    bottom: 50px; /* Space for pagination */
  }

  .cs3-block .cs3-inner .cs3-content .cs3-icon-wrap {
    font-size: 60px;
  }

  .cs3-block .cs3-inner .cs3-content h3 {
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .cs3-block {
    height: 500px;
  }
  .cs3-block .cs3-inner .cs3-content {
    padding-left: 20px;
    padding-right: 20px;
  }
}
