/* App Global Styles */

.theme-btn {
  position: relative;
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  text-align: center;
  padding: 20.5px 57px;
  text-transform: capitalize;
  font-family: var(--heebo);
  color: var(--white-color) !important;
  background: var(--secondary-color);
  z-index: 1;
  transition: all 500ms ease;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.theme-btn span {
  position: relative;
}


.theme-btn:hover {
  box-shadow: inset 0 0 0 2em var(--main-color);
}

.theme-btn.btn-one {
  background: var(--secondary-color);
}

.theme-btn.btn-one:hover {
  box-shadow: inset 0 0 0 2em var(--main-color);
}

.theme-btn.btn-two {
  background: var(--main-color);
}

.theme-btn.btn-two:hover {
  box-shadow: inset 0 0 0 2em var(--secondary-color);
}

/* Scroll to Top Functionality */
.scroll-to-top {
  position: fixed;
  right: 0px;
  bottom: 100px;
  transform: rotate(90deg);
  z-index: 99;
  cursor: pointer;
}

.scroll-to-top.open .scroll-top-inner {
  opacity: 1;
  visibility: visible;
}

.scroll-to-top .scroll-top-inner {
  opacity: 0;
  visibility: hidden;
  display: flex;
  align-items: center;
  transition: all cubic-bezier(.4,0,.2,1) .4s;
}

.scroll-to-top .scroll-bar {
  width: 50px;
  height: 2px;
  margin-right: 10px;
  position: relative;
}

.scroll-to-top .scroll-bar:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: red;
}

.scroll-to-top .scroll-bar .bar-inner {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  background-color: black;
}

.scroll-to-top .scroll-bar-text {
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  color: red;
  transition: all 500ms ease;
}

.scroll-to-top .scroll-bar-text:hover {
  transform: scale(1.1);
}
